@font-face {
    font-family: "cabin-regular";
    src: url("../fonts/Cabin-VariableFont.ttf") format("truetype");
    font-display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "cabin-regular", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans display", Helvetica, Arial, sans-serif;
    color: #fffcf2;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #151313;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    overflow-x: hidden;
}

/* hide focus rings, when user not hitting tab-key (if, the class .user-is-tabbing) */
body:not(.userTab) button:focus,
body:not(.userTab) input:focus,
body:not(.userTab) select:focus{
    outline: none;
}

ul, ol {
    list-style-position: inside;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    line-height: 1.4;
    padding: 0.5rem 0 1rem;
}

p a {
    text-decoration: none;
    border-bottom: solid 1.5px;
}

span a {
    text-decoration: none;
    border-bottom: solid 1.5px;
}

a:hover {
    color: #9fbca5;
}

hr {
    border: 0;
    border-bottom: 1px solid;
    width: calc(100% - 2rem);
    margin: auto;
}

p.noscript {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #403d39;
    color: #d77a5b;
    padding: 1rem;
    width: 100%;
    text-align: center;
}


div.content {
    transition: transform 0.3s ease;
}


nav.mainNav {
    position: fixed;
    top: 0;
    left: 0;

    margin: auto;
    z-index: 3;
}

a.HomeButton {
    display: contents;
    height: 0;
    text-decoration: none;
    border-bottom: none;
}

.NavLink {
    padding: 0.5rem;
    text-decoration: none;
    border-bottom: none;
}

.NavSpan {
    padding: 0.5rem;
    text-decoration: none;
    border-bottom: none;
    color: #76726b;
}

img.menuButton {
    width: 3rem;
    z-index: 3;
    cursor: pointer;
    padding: 1.5rem 1rem;
}

img.homeButton {
    width: 4rem;
    z-index: 2;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    position: fixed;
    top: 0;
    right: 0;
}

div.navbar {
    position: fixed;
    top: 2.5rem;
    left: 0;
    background-color: #151313;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
    z-index: 2;
}

div.navbarSpace {
    display: none;
    position: fixed;
    top: 2rem;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem);
}

.NavLink:hover {
    color: #9fbca5;
}

div.textHeader {
    width: 100%;
    margin: auto;
    padding: 3rem 1rem 1rem;
}

div#sticky {
    position: sticky;
    top: -2rem;
    padding: 5rem 1rem 1rem;
}

div.imageHeader {
    width: 100%;
    margin: auto;
    padding: 3rem 1rem 1rem;
}

div#logoHeader {
    padding: 5rem 0 1rem;
    position: unset;
}

div#impressumHeader {
    padding: 7rem 1rem 1rem;
}

div.container, div.innerContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

div.innerContainer {
    padding: 0;
}

div.container > div {
    max-width: calc(100vw - 2rem); /* fix für overflow auf schmalen Bildschirmen*/
}

div.image {
    flex: 100% 0 0;
    padding: 5rem 2rem;
}

div.row {
    flex: 100%;
    padding: 1rem 0;
}

div.box, div.half {
    flex: 50% 0 0;
    padding: 1rem 0;
}

div.side {
    flex: 30%;
    padding: 1rem 0;
}

div.main {
    flex: 70%;
    padding: 1rem 0;
}

div.imageSlider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.sliderBox {
    flex: 50%;
}

div.headingCenter {
    align-self: center;
}

button.picPreview {
    position: inherit;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}

button.collapsible {
    position: inherit;
    background: none;
    border: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    z-index: 3;
}

div.collapsed {
    max-height: 0;
    overflow: hidden;
}

div#impressumfooter {
    padding: 2rem 1rem 1rem;
}

@media screen and (min-width: 400px) {
    footer > div.container {
        flex-direction: row;
    }

    div#footerRight {
        text-align: right;
    }
}

@media screen and (min-width: 720px) {
    p, ul, ol {
        max-width: 40vw;
    }

    div#logoHeader {
        padding: 5rem 1rem 1rem;
    }

    div#impressumHeader {
        padding: 7rem 5rem 1rem;
    }

    div.container, div.imageSlider {
        flex-direction: row;
    }

    div.side {
        padding: 1rem 1rem 1rem 0;
        text-align: right;
    }

    div.main {
        padding: 1rem 0 1rem 1rem;
    }

    div.image {
        flex: 50% 0 0;
    }

    div.box {
        flex: 40vw 0 0;
        padding: 1rem 0;
    }

}

@media screen and (min-width: 1280px) {
    p, ul, ol {
        max-width: 30vw;
    }

    img.homeButton {
        width: 6rem;
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    }

    div#logoHeader {
        padding: 5rem 4rem 1rem;
        max-width: 80vw;
    }

    div#impressumHeader {
        padding: 7rem 20rem 1rem;
    }

    div.imageHeader img {
        max-height: 50vh;
    }

    div.container {
        justify-content: center;
    }

    div.side > p {
        max-width: 20vw;
    }

    div.image {
        flex: 30% 0 0;
        padding: 3rem;
    }
}

@media screen and (min-width: 2560px) {
    p, ul, ol {
        max-width: 20vw;
    }
}

/* Animation https://codepen.io/studiojvla/pen/qVbQqW?editors=1100 */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 2))
    }
}

/*Styling*/
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: max-content;

    &::before,
    &::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll 4s linear infinite;
        display: flex;
        width: calc(250px * 4);
    }

    .slide {
        height: 100px;
        width: 250px;
    }
}

.close-modal {
    border-bottom: none;
}

.arrow-div-flex {
    display: flex;
    justify-content: center;
}

.modal-right-arrow {
    margin-left: auto;
}

.modal-left-arrow {
    margin-right: auto;
}

/* Styling Add-Ons*/

a.navButton {
    display: block;
    width: 50px;
}

div.modal {
    background: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    box-shadow: none;
    max-width: 600px;
}

@media screen and (min-width: 1024px) {
    div.modal {
        max-width: 50vw;
    }
}

@media screen and (min-width: 2560px) {
    div.modal {
        max-width: 30vw;
    }
}

.modal-left-arrow, .modal-right-arrow {
    padding: 1rem;
    cursor: pointer;
}

.imgPreview {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.imgPreview > div {
    width: 20vw;
    max-width: 200px;
}


.sozialLink  {
display: flex
}

.sozialLinks  {
    display: flex;

}